*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
main{
    display: flex;
    gap: 20px;
    min-height: 100vh;  /*for dev*/
    padding-top: 100px;
    background-color: black;
}
.skew-card{
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 400px;
    height: 600px;
}
